{{define "title"}}
    {{.Title}} &ndash; {{.Site.Title}}
{{end}}
{{define "additional_head"}}
    <link rel="stylesheet" type="text/css" href="/css/plyr.css">
{{end}}
{{define "main"}}
<!-- Post -->
<div class="post-container post-{{.Section}}">
    <article class="post">
        <!-- Post itself -->
        <header>
            <h2 class="title">{{.Title}}</h2>
        </header>
        {{partial "audio.html" .}}
        {{.Content}}
        <div class="clear"></div>
        <!-- /Post itself -->
        {{partial "post-metadata.html" .}}
    </article>
</div>
<!-- /Post -->
{{ end }}
{{define "additional_js"}}
    <script src="/js/plyr.min.js"></script>
    <script>const player = new Plyr.setup('.player');</script>
{{end}}
