<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{block "title" .}}{{.Site.Title}} {{with .Params.Title}} | {{.}}{{end}}{{end}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{if .IsHome}}{{.Site.Params.description}}{{else}}{{.Description}}{{end}}">
        {{with .Site.Params.favicon}}<link rel="shortcut icon" href="/{{.}}">{{end}}
        {{with .OutputFormats.Get "rss" -}}
            {{printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML}}
        {{end -}}
        {{partial "stylesheets.html" .}}
        {{block "additional_head" .}}{{end}}
    </head>
    <body>
        <div id="wrapper">
            <div class="container">
                <div class="page-header">
                    {{if .Site.Title}}
                    <h1><a href="{{.Site.BaseURL}}">{{.Site.Title}}</a>
                        {{if .Site.Params.description}} <small>{{.Site.Params.description}}</small>{{end}}
                    </h1>
                    {{end}}
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="content">
                            {{partial "breadcrumb.html" .}}
                            <main>
                                {{block "main" .}}{{end}}
                            </main>
                        </div>
                    </div>
                    <div class="col-md-3">
                        {{partial "sidebar.html" .}}
                    </div>
                </div>
            </div>
        </div>
        {{partial "footer.html" .}}
    <div class="row">
        <div id="egg" class="col-md-12"></div>
    </div>
    {{partial "scripts.html" .}}
    {{block "additional_js" .}}{{end}}
    </body>
</html>
