{{$image := .Page.Resources.Match "image*"}}
{{$page := .Page}}
<p class="photo-container">
    {{range $image}}
        {{$thumb := false}}
        {{$thumb_webp := false}}
        {{if eq (len $image) 1}}
            {{$thumb = .Fit "400x510"}}
            {{$thumb_webp = .Fit "400x510 webp lanczos q85"}}
        {{else}}
            {{$thumb = .Fit "250x500"}}
            {{$thumb_webp = .Fit "250x500 webp lanczos q85"}}
        {{end}}
        <a class="photo-link" href="{{.RelPermalink}}" data-fancybox{{if gt (len $image) 1}}="{{$page.File.UniqueID}}"{{end}} data-caption="{{if eq (len $image) 1}}{{.Params.image_title}}{{else}}{{.Title}}{{end}}">
            <picture>
                <source srcset="{{$thumb_webp.RelPermalink}}" type="image/webp">
                <source srcset="{{$thumb.RelPermalink}}">
                <img class="image" src="{{$thumb.RelPermalink}}" alt="{{if eq (len $image) 1}}{{.Params.image_title}}{{else}}{{.Title}}{{end}}">
            </picture>
        </a>
    {{end}}
    <br>
    {{if eq (len $image) 1}}
        <a class="photo-source-link"{{with .Params.image_source}} href="{{.}}"{{end}}>{{.Params.image_title}}{{if .Params.artist}} by {{.Params.artist}}{{end}}</a>
    {{else}}
        {{with .Params.image_source}}
            <a class="photo-source-link" href="{{.}}">Source</a>
        {{end}}
    {{end}}
</p>
