{{$image := .Page.Resources.Match "image*"}}
<p class="photo-container">
    {{range $image}}
        {{$thumb := false}}
        {{if eq (len $image) 1}}{{$thumb = .Fit "400x510"}}{{else}}{{$thumb = .Fit "250x500"}}{{end}}
        <a class="photo-link" href="{{.RelPermalink}}" data-fancybox{{if gt (len $image) 1}}=".File.UniqueID"{{end}} data-caption="{{if eq (len $image) 1}}{{.Params.image_title}}{{else}}{{.Title}}{{end}}"><img class="image" src="{{$thumb.RelPermalink}}" alt="{{if eq (len $image) 1}}{{.Params.image_title}}{{else}}{{.Title}}{{end}}"></a>
    {{end}}
    <br>
    {{if eq (len $image) 1}}
        <a class="photo-source-link" href="{{.Params.image_source}}">{{.Params.image_title}}{{if .Params.artist}} by {{.Params.artist}}{{end}}</a>
    {{else}}
        {{with .Params.image_source}}
            <a class="photo-source-link" href="{{.}}">Source</a>
        {{end}}
    {{end}}
</p>
