{{if or (.Page.Resources) ($.Params.video_source)}}
    {{$video := false}}
    <div class="video-container">
        {{if .Page.Resources.GetMatch "video"}}
            {{$video = .Page.Resources.GetMatch "video"}}
            <video controls="controls" src="{{$video.RelPermalink}}" class="player"></video>
        {{else if (findRE `https:\/\/(?:video\.google\.(?:com|com\.au|co\.uk|de|es|fr|it|nl|pl|ca|cn)\/(?:[^\"]*?))?(?:(?:www|au|br|ca|es|fr|de|hk|ie|in|il|it|jp|kr|mx|nl|nz|pl|ru|tw|uk)\.)?youtube\.com(?:[^\"]*?)?(?:&|&amp;|\/|\?|;|\%3F|\%2F)(?:video_id=|watch=|v(?:\/|=|\%3D|\%2F))([0-9A-Za-z-_]{11})` .Params.video_source)}}
            {{$video = findRE `[0-9A-Za-z-_]{11}` .Params.video_source}}
            {{range $video}}
                <div class="plyr__video-embed">
                    <iframe src="https://www.youtube-nocookie.com/embed/{{.}}?rel=0" allowfullscreen></iframe>
                </div>
            {{end}}
        {{end}}
    </div>
    <hr>
{{end}}
